html {
    font-size: 100%;
}

.them-h1l .main-navigation{
    float: right;
}

.header-wrapper.container .menu-col{
    padding: 0;
}

.vertical-top, .vertical-middle, .vertical-bottom{
    display: inline-block;
    float: none;
    margin-right: -4px;
}

.vertical-top{
    vertical-align: top;
}

.vertical-middle{
    vertical-align: middle;
}

.vertical-bottom{
    vertical-align: bottom;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

.view-full-post { 
    float: right; 
}

.view-full-post-btn{
  display:inline-block;
  /*border-radius*/
  -webkit-border-radius:10px;
     -moz-border-radius:10px;
          border-radius:10px;
  padding:8px 16px;
  margin-top:10px;
  color:#454545;
  border:1px solid #d8dcdc;
  font-family:Georgia,serif;
  font-style:italic;
  font-size:16px;
}
.view-full-post-btn:hover{
  background:#454545;
  /*transition*/
  -webkit-transition:all .3s ease;
  -moz-transition:all .3s ease;
  -o-transition:all .3s ease;
          transition:all .3s ease;
  border:1px solid #000000;
  color:#FFFFFF;
}
.container, .container-fluid, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto{padding:15px 20px 15px 20px;}
html, body{color:#585858;}
.primary-color{color:#336699;}
.secondary-color{color:#888888;}
a, a:link, a:visited{color:#336699;}
a:hover, a:focus{color:#3366CC;}
body #page{background:transparent;}
.logo-col{padding:20px 15px 20px 15px;margin:0px;}
.header-wrapper.container{padding:0px 15px 0px 15px;}
.header.container{padding:0px 15px 0px 15px;}
them-h1l .main-navigation{float:right;}
.site-header{background:transparent;}
.site-header .header{background:transparent;}
.main-navigation .nav-menu{padding:0px;display:block;background:transparent;}
.main-navigation .nav-menu li a{padding:15px 20px 15px 20px;display:block;}
.main-navigation .nav-menu li a, .main-navigation .nav-menu li a:visited{color:#222222;background-color:transparent;}
.main-navigation .nav-menu ul.children li a, .main-navigation .nav-menu ul.children li a:visited{color:#222222;background-color:#FFFFFF;}
.content.container, .content.container-fluid{padding:30px 0px 50px 0px;background:transparent;}
.content.container .content-area-wrapper #main, .content.container-fluid .content-area-wrapper #main, .content.container .widget-area, .content.container-fluid .widget-area{background:transparent;}
.footer.container, .footer.container-fluid{padding:0px 15px 0px 15px;}
.footer.container .widget-area.row-1{padding:20px;}
.site-footer{background:#434343;}
.site-footer .footer.container, .site-footer .footer.container-fluid{background:transparent;}
.site-footer .footer.container .widget-area, .site-footer .footer.container-fluid .widget-area{color:#aaaaaa;background:transparent;}
.content.container .content-area-wrapper #main > *, .content.container-fluid .content-area-wrapper #main > *, .content.container .widget-area > *, .content.container-fluid .widget-area > *{overflow:hidden;}
.content.container .widget-area-wrapper, .content.container-fluid .widget-area-wrapper{padding:0px 15px 0px 15px;}
.content.container .widget-area, .content.container-fluid .widget-area{padding:20px;}
.content.container .content-area-wrapper, .content.container-fluid .content-area-wrapper{padding:0px 15px 0px 15px;}
.content.container .content-area-wrapper #main, .content.container-fluid .content-area-wrapper #main{padding:20px;}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
.test3{height:30px;}
.test4{height:40px;}
.test1{height:10px;}
.test4{height:50px;}
}
@media (min-width: 1200px) {
.header-wrapper.container{width:1100px;}
.content.container{width:1100px;}
.footer.container{width:1100px;}
}
